html {
  height: 100%;
}

body {
  background-color: hsl(0, 0%, 40%);
  background-image: url(img/thomas-bormans-pcpsVsyFp_s-unsplash.jpg);
  background-size: cover;
  background-position-y: 40%;
}

#new-todo-form {
  display: flex;
  flex-direction: column;
}

#new-todo-form>* {
  margin: .15rem;
}

#list {
  padding: 0;
}

.list-item {
  list-style: none;
}

.list-item-label:hover,
[data-list-item-checkbox]:hover {
  cursor: pointer;
}

.list-item-label:hover>[data-list-item-text] {
  color: #333;
  text-decoration: line-through;
}

[data-list-item-checkbox]:checked~[data-list-item-text] {
  text-decoration: line-through;
  color: hsl(0, 0%, 75%);
}

[data-button-delete] {
  margin-left: .5rem;
}

button {
  cursor: pointer;
}